header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0 50px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.header-wrap {
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.mobile-nav {
    display: none;
    align-items: center;
    gap: 14px;
}

.main {
    width: 100%;
}

.main-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-menu-list {
    padding: 22px 8px;
}

.main-menu-list > a {
    padding: 19px 4px;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.main-menu-list > a:hover {
    border-bottom: 3px solid #333;
}

.main-menu-list:last-child > a:hover {
    border-bottom: 3px solid #E32B2B;
}

.main-menu-list:last-child > a {
    color: #E32B2B;
}

.sub-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-items {
    width: 200px;
    border: 1px solid #EEEEEE;
    height: 32px;
    background-color: #F9F9F9;
    padding: 0 8px;
    box-sizing: border-box;
}

.search-items:focus {
    outline: none;
}

.sub-menu-icon > a {
    display: block;
    max-height: 32px;
}

/* .sub-menu-icon > a > svg > path {
    stroke : #ffffff;
} */

.sub-menu-icon:first-child {
    position: relative;
}

.sub-menu-icon:first-child > svg {
    position: absolute;
    right: 4px;
}

/* pc-navi */

.depth-wrap {
    display: none;
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    top: 60px;
    left: 0;
    padding: 40px 0 70px;
}

.main-menu-list.hover-active .depth-wrap {
    display: flex;
    background-color: white;
}

.depth-category {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: flex-start;
    padding-left: 192px;
}

.category-title {
    width: 160px;
}

.category-title:first-child {
    width: 190px;
    border-right: 1px solid #e9e9e9;
}

.main-menu-list:nth-child(4) .category-title,
.main-menu-list:nth-child(5) .category-title {
    width: 160px;
    border: none;
    margin-left: 0;
    margin-right: 30px;
}

.category-title:nth-child(2) {
    margin-left: 30px;
}

.category-title > a {
    display: block;
    padding-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.depth {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.depth-list > a {
    font-weight: 300;
    padding: 5px 0;
    font-size: 14px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* mobile-navi */

.hamberger-nav {
    cursor: pointer;
}

.hamberger-click {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;

}

.hamberger-click.nav-active {
    left: 0;
    transition: 0.5s;
}

.mob-menu {
    display: flex;
    flex-direction: column;
}

.mob-menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid #e9e9e9;
}

.mob-menu-close {
    height: 32px;
    position: absolute;
    right: 3%;
    cursor: pointer;
}

button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    color: #333333;
    font: inherit;
}

.list-btn {
    padding: 14px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

.mob-gnb {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

.mob-main-menu {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.mob-main-menu-list:last-child > button {
    color: #E32B2B;
}

.mob-sub-menu {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.mob-sub-menu-list > a {
    display: block;
    font-size: 16px;
    padding: 14px 0;
}

.list-submenu-area {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
    left: 100%;
    transition: 0.5s;

}

.list-submenu-area.sublist-act {
    display: block;
    left: 0;
    transition: 0.5s;
}

.list-submenu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-top-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 0 17px 15px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

.pre-top-menu > span {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
}

.mob-main-menu-list:last-child .list-submenu-top > .pre-top-menu > span {
    color: #E32B2B;
}

.top-submenu {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.top-submenu-list > a {
    padding: 14px 0;
    font-size: 18px;
    display: block;
    letter-spacing: 1px;
}

/* section : main-video */

.video-wrap {
    position: relative;
}

.pc-video {
    display: block;
}

.mob-video {
    display: none;
}

.video-wrap > a > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.video-text-wrap {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.video-text-title {
    font-size: 60px;
    margin-bottom: 30px;
}

.video-text-sub {
    font-size: 20px;
    line-height: 1.4;
}

/* section : best-items */

#best-items {
    padding: 220px 32px 0;
    margin-bottom: 220px;
}

.content-wrap {
    max-width: 1300px;
    margin: 0 auto;
}

.subject-text {
    text-align: center;
    color: #333333;
    margin-bottom: 100px;
}

.subject-title {
    font-size: 32px;
    margin-bottom: 40px;
}

.subject-subtitle {
    display: flex;
    justify-content: center;
    gap: 36px;
    color: #999999;
}

.product-view > a {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3px;
    margin-bottom: 10px;
}

.product-view > a > span {
    letter-spacing: 1px;
}

.items-slide-view {
    width: 1300px;
    overflow: hidden;
    margin-bottom: 100px;
}

.items-wrap {
    display: flex;
    width: calc((310px * 6) + (20px * 5));
    transform: translateX(calc((-310px - 20px) * 0));
    transition: 1s;
    justify-content: center;
    gap: 20px;
}

.items-list {
    width: 25%;
}

.items-image {
    margin-bottom: 15px;
}

.hover-image {
    display: none;
}

.items-list > a:hover .basic {
    display: none;
}

.items-list > a:hover .hover-image {
    display: block;
}

.items-detail {
    color: #333333;
    word-break: keep-all;
    padding: 5px 0;
}

.item-cate {
    display: inline-block;
    font-size: 16px;
    color: #888888;
    font-weight: 300;
    margin-bottom: 10px;
}

.item-name {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 14px;
}

.price, .sale-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sale-price {
    color: #E32B2B;
}

.regular-price {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    padding-right: 12px;
}

.label {
    padding: 3px 8px;
    background-color: #444444;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 4px;
}

.items-page {
    display: flex;
    justify-content: space-between;
}

.items-bar-area {
    width: 70%;
    display: flex;
    align-items: center;
}

.items-bar {
    width: 100%;
    height: 4px;
    background-color: #EEEEEE;
    border-radius: 9px;
    cursor: pointer;
}

.activate {
    background-color: #333333;
    transition: 0.8s;
}

.items-page-number {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

.contour {
    width: 1px;
    height: 18px;
    background-color: #ccc;
}

.total-item {
    color: #AAAAAA;
}

.items-page-view {
    display: flex;
    align-items: center;
    gap: 40px;
}

.items-arrow-wrap {
    display: flex;
    gap: 30px;
}

.items-prev, .items-next {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* section : main-banner */

#main-banner {
    background-color: #F9F9F9;
    padding: 70px 0;
}

.main-banner-wrap {
    width: 100%;
    /* max-height: 700px; */
    overflow: hidden;
    margin-bottom: 50px;
}

.mob-m-b {
    display: none;
}

.main-banner-wrap > img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.main-banner-text {
    text-align: center;
}

.main-banner-title {
    font-size: 32px;
    margin-bottom: 30px;
}

.main-banner-sub {
    font-size: 20px;
    margin-bottom: 50px;
}

.button {
    width: 160px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #333333;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

/* section : winter-special */

#winter-special {
    padding: 220px 32px 0;
    margin-bottom: 220px;
}

/* section : membership */

#membership {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 240px;
}

.membership-text {
    color: white;
    text-align: center;
}

.membership-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.membership-sub {
    color: #cccccc;
    font-weight: 100;
    margin-bottom: 25px;
}

.join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #EDE734;
    margin: 0 auto;
}

.join-button > span {
    font-weight: 800;
    letter-spacing: 1px;
}

/* section : adidas-collection */

#adidas-collection {
    padding: 220px 32px 0;
    margin-bottom: 220px;
    position: relative;
}

#adidas-collection::after {
    content: '';
    display: block;
    width: 100%;
    height: 80vh;
    background-color: #f9f9f9;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    z-index: -1;
}

.collection-text {
    text-align: center;
    color: #333333;
    margin-bottom: 100px;
}

.collection-title {
    font-size: 32px;
    margin-bottom: 40px;
}

.collection-sub {
    color: #999999;
}

.collection-series-wrap > a {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3px;
    margin-bottom: 10px;
    position: relative;
}

.collection-series-wrap > a > span {
    letter-spacing: 1px;
}

.collection-series {
    display: flex;
    flex-wrap: wrap;
    row-gap: 90px;
    column-gap: 50px;
}

.collection-series-list {
    width: 400px;
}

.collection-series-list:first-child {
    width: 850px;
}

.collection-series-list > a {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.slide-banner-area {
    width: 850px;
    overflow: hidden;
    position: relative;
}

.slide-banner {
    width: fit-content;
    transform: translateX(calc(-850px * 0));
    display: flex;
    transition: 0.7s;
}

.slide-banner-list {
    width: 850px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 32px;
}

.slide-banner-view {
    height: 532px;
}

.mob-slide {
    display: none;
}

.slide-banner-view > img {
    width: 100%;
    height: 532px;
    object-fit: cover;
}

.slide-banner-text {
    color: #333333;
}

.slide-banner-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.slide-banner-sub {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

.slide-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    gap: 26px;
}

.dot-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cccccc;
    cursor: pointer;
}

.dot.act {
    background-color: #333333;
}

.move-arrow-wrap {
    display: flex;
    gap: 21px;
    position: relative;
}

.prev, .next {
    cursor: pointer;
}

.prev::after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #ccc;
    position: absolute;
    top: 1px;
    left: 50%;
    cursor: none;
}

.collection-view {
    height: 532px;
}

.collection-view > img {
    width: 100%;
    height: 532px;
    object-fit: cover;
    object-position: top center;
}

.collection-detail {
    color: #333333;
}

.detail-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.detail-sub {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    word-break: keep-all;
}

/* section : rivalry */

#rivalry {
    margin-bottom: 220px;
}

.rivalry-wrap {
    position: relative;
    background-color: #cccccc;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url('../image/sub_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.rivalry-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rivalry-logo {
    margin-bottom: 20px;
}

.rivalry-logo > img {
    opacity: 0.8;
}

.rivalry-text {
    font-size: 20px;
    color: white;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 34px;
}

.rivalry-content > a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    letter-spacing: 1px;
}

/* section : best-review */

#best-review {
    padding: 0 32px
}

.review-wrap {
    width: 1300px;
    overflow: hidden;
    position: relative;
}

.review-slide {
    width: fit-content;
    transform: translateX(calc((-310px - 20px) * 0));
    transition: 1s;
    display: flex;
    gap: 20px;
}

.review-list {
    flex-shrink: 0;
}

.review-image {
    width: 310px;
    height: 310px;
    
}

.review-image > img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.review-text {
    background-color: #F4F5F9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 26px 7px;
    color: #333333;
}

.review-item {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 12px;
}

.review-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.review-sub {
    font-size: 14px;
    color: #888888;
    line-height: 1.3;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.review-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 14px;
    color: #888888;
    font-weight: 300;
}

.review-prev, .review-next {
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.review-prev, .review-next > svg {
    opacity: 0.8;
}

.review-prev {
    left: 0;
}

.review-next {
    right: 0;
}

/* section : adidas-story */

#adidas-story {
    padding-top: 220px;
    margin-bottom: 220px;
}

.story-contents {
    width: 1300px;
    overflow: hidden;
    position: relative;
}

.story-slide {
    width: 100%;
    position: relative;
    /* height: 602px; */
}

.story-image {
    width: 500px;
    flex-shrink: 0;
}

.story-slide-list {
    position: absolute;
    top: 0;
    width: 1300px;
    left: 0;
    flex-shrink: 0;
    display: flex;
    gap: 140px;
    opacity: 0;
    transition: 0.5s;
    
}
.story-slide-list.active {
    opacity: 1;
    z-index: 100;
}

.story-text {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    color: #333333;
}

.story-text > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.story-text > a > span {
    letter-spacing: 1px;
}

.story-title {
    width: 100%;
    font-size: 28px;
}

.story-main {
    width: 100%;
    font-size: 18px;
    word-break: keep-all;
    line-height: 1.8;
}

.slide-page-info {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 200;
}

.page-number {
    display: flex;
    align-items: center;
    gap: 16px;
}

.now-page, .total-page {
    font-weight: 600;
}

.progress-bar {
    width: 100px;
    height: 2px;
    background-color: #D9D9D9;
}

.progress-bar .bar {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #E32B2B;
    transform-origin: left;
    transform: scaleX(0);
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: linear;

}

.progress-bar .bar.active {
    animation-name: progress;
}


@keyframes progress {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
    
}

.story-arrow {
    display: flex;
    gap: 21px;
    position: relative;
}

.story-prev, .story-next {
    cursor: pointer;
}

.story-prev::after {
    content: '';
    display: block;
    width: 1px;
    height: 18px;
    background-color: #ccc;
    position: absolute;
    top: 1px;
    left: 50%;
    cursor: none;
}

/* footer */

footer {
    background-color: #222222;
}

.footer-menu {
    padding: 24px 0;
}

.footer-menu-wrap {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 60px;
}

.footer-menu-list {
    width: 180px;
    color: white;
}

.footer-menu-list > input[type=checkbox]+label span {
    background-image: url('../icon/footer-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 100% center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    /* margin-bottom: 14px; */
    padding: 16px 0;
}

.footer-menu-list > input[type=checkbox] {
    display: none;
}

.footer-menu-list > input[type=checkbox]:checked+label span {
    background-image: url('../icon/footer-up-arrow.svg');
}

.footer-submenu {
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.footer-submenu-list {
    padding: 10px 0;
}

.footer-submenu-list > a {
    color: white;
    font-weight: 100;
}

.footer-menu-list > input[type=checkbox]:checked~.pd-h {
    height: 72px;
}

.footer-menu-list > input[type=checkbox]:checked~.s-h {
    height: 396px;
}

.footer-menu-list > input[type=checkbox]:checked~.ci-h {
    height: 180px;
}

.footer-menu-list > input[type=checkbox]:checked~.ms-h {
    height: 72px;
}

.footer-menu-list > input[type=checkbox]:checked~.sp-h {
    height: 144px;
}

.infomation {
    border-top: 1px solid #595959;
}

.mob-view {
    display: none;
}

.infomation-area {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 60px 32px;
    gap: 40px;
}

.info-wrap {
    width: 100%;
    padding-top: 6px;
}

.policy {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
}

.policy-list > a{
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 100;
}

.policy-list:nth-child(3) > a {
    color: white;
}

.company-info {
    color: #AAAAAA;
    line-height: 130%;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 20px;
}

.copywrite {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 100;
}

.customer-center {
    padding-top: 6px;
    color: white;
}

.customer-center > span {
    display: block;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

.number, .e-mail {
    font-size: 20px;
    letter-spacing: 1px;
}

.number {
    margin-bottom: 10px;
}

.e-mail {
    margin-bottom: 14px;
}

.sns {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width : 1364px) {

    header {
        padding: 0 32px;
    }

    .mobile-nav {
        display: flex;
    }

    .main {
        display: none;
    }

    .pc-search {
        display: none;
    }

    .video-wrap {
        height: 744px;
        overflow: hidden;
    }

    #best-items {
        padding: 200px 32px 0;
        margin-bottom: 200px;
    }

    .subject-title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .items-slide-view {
        width: 100%;
        overflow: hidden;
    }
    
    .items-wrap {
        width: calc(((100% - 20px) / 2) * 6 + 20px * 5);
        transform: translateX(calc(((-100% + 20px * 5) / 6 - 20px) * 0));
    }
    
    .items-bar-area {
        width: 60%;
    }

    .items-page-number {
        font-size: 16px;
        gap: 20px;
    }
    
    .contour {
        height: 16px;
    }
    
    .items-list {
        width: 100%;
    }

    .main-banner-title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .main-banner-sub {
        font-size: 16px;
        margin-bottom: 40px;
    }

    #winter-special {
        padding: 200px 32px 0;
        margin-bottom: 200px;
    }

    .membership-title {
        font-size: 24px;
    }

    #adidas-collection {
        padding: 200px 32px 0;
        margin-bottom: 200px;
    }

    .collection-series {
        column-gap: 30px;
    }

    .collection-series-list {
        width: calc(50% - 15px);   
    }

    .collection-series-list:first-child {
        width: 100%;
    }

    .collection-view > video {
        width: 100%;
    }

    .slide-banner-area {
        width: 100%;
    }
    
    .slide-banner {
        width: fit-content;
        transform: translateX(calc(-50% * 0));
    }
    
    .slide-banner-list {
        width: calc(100vw - 64px);
        gap: 24px;
    }
    
    .slide-banner-view {
        height: fit-content;
    }
    
    .slide-banner-view > img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }

    .slide-banner-title {
        font-size: 24px;
    }
    
    .slide-banner-sub {
        font-size: 16px;
    }
    
    .slide-icon {
        gap: 20px;
    }
        
    .dot {
        width: 12px;
        height: 12px;
    }
    
    .prev > svg, .next > svg, .prev, .next {
        width: 24px;
        height: 24px;
    }
    
    .prev::after {
        height: 22px;
    }

    .collection-view {
        height: fit-content;
    }
    
    .collection-view > img {
        height: fit-content;
    }

    .detail-title {
        font-size: 20px;
    }
    
    .detail-sub {
        font-size: 16px;
    }

    #rivalry {
        margin-bottom: 200px;
    }

    .rivalry-logo {
        width: 320px;
    }

    .rivalry-text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .review-wrap {
        width: 100%;
    }
    
    .review-slide {
        width: fit-content;
        transform: translateX(calc(((-100% + 20px * 7) / 8 - 20px) * 0));
        gap: 20px;
    }
    
    .review-list {
        width: 100%;
        height: 100%;
    }
    
    .review-image {
        width: 100%;
        height: 100%;
    }

    .review-image > img {
        height: fit-content;
    }

    .review-text {
        padding: 16px 7px;
    }
    
    .review-item {
        font-size: 14px;
    }
    
    .review-title {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .review-sub {
        font-size: 14px;
        margin-bottom: 16px;
    }
    
    .date {
        font-size: 12px;
    }

    .star-score > svg {
        width: 13px;
        height: 13px;
    }

    #adidas-story {
        padding: 200px 32px 0;
        margin-bottom: 200px;
    }

    .story-contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .story-slide {
        width: 100%;
    }
    
    .story-image {
        width: 100%;
        height: auto;
    }
    
    .story-slide-list {
        width: 100%;
        height: auto;
        padding: 0 15%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .story-text {
        padding-top: 0;
        gap: 30px;
    }
        
    .story-title {
        font-size: 20px;
        line-height: 1.4;
    }
    
    .story-main {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .slide-page-info {
        position: static;
        padding-left: 15%;
        width: fit-content;
    }
        
    .footer-menu {
        padding: 24px 32px;
    }
    
    .footer-menu-wrap {
        justify-content: flex-start;
        column-gap: 11%;
        row-gap: 30px;
    }
    
    .footer-menu-list {
        width: 26%;
    }
    
    .infomation {
        border-top: 1px solid #595959;
    }

    .pc-view {
        display: none;
    }

    .mob-view {
        display: block;
    }
    
    .infomation-area {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin: 0 auto;
        max-width: 1300px;
        padding: 30px 32px;
        gap: 30px;
    }
    
    .info-wrap {
        width: 100%;
        padding-top: 6px;
    }

    .customer-center {
        padding: 0 0 30px;
        
    }

    .customer-center::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #595959;
        position: absolute;
        left : 0;
        margin-top: 30px;
    }

    .customer-center > span {
        margin-bottom: 20px;
    }
    
    .number, .e-mail {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .e-mail {
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 744px) {
    
    header {
        padding: 0 16px;
    }

    .video-wrap {
        height: 100%;
        overflow: hidden;
    }

    .pc-video {
        display: none;
    }

    .mob-video {
        display: block;
    }

    #best-items {
        padding: 180px 16px 0;
        margin-bottom: 180px;
    }

    .subject-title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .subject-subtitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        color: #999999;
    }

    .items-slide-view {
        margin-bottom: 50px;
    }

    .item-cate {
        font-size: 14px;
        margin-bottom: 8px;
    }
    
    .item-name {
        font-size: 18px;
    }
    
    .price, .sale-price {
        font-size: 18px;
    }

    .regular-price {
        font-size: 18px;
    }
    
    .label {
        font-size: 14px;
    }

    .items-page {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .items-bar-area {
        width: 100%;
    }

    .items-page-view {
        width: 100%;
        justify-content: space-between;
    }

    .items-page-number {
        font-size: 16px;
        gap: 16px;
    } 
    
    #main-banner {
        padding: 40px 0;
    }

    .pc-m-b {
        display: none;
    }

    .mob-m-b {
        display: block;
    }

    .main-banner-title {
        font-size: 24px;
    }
    
    .main-banner-sub {
        font-size: 16px;
        margin:0 auto 40px;
        text-align: center;
        line-height: 1.4;
        width: 80%;
        word-break: keep-all;
    }

    #winter-special {
        padding: 180px 16px 0;
        margin-bottom: 180px;
    }

    .membership-text {
        padding: 0 16px;
    }

    .membership-title {
        font-size: 20px;
    }

    .membership-sub {
        font-size: 14px;
    }

    .join-button {
        gap: 6px;
        width: 130px;
        height: 40px;
    }
    
    .join-button > span {
        font-size: 14px;
    }

    #adidas-collection {
        padding: 180px 16px 0;
        margin-bottom: 180px;
    }
    
    .collection-title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .collection-sub {
        line-height: 1.6;
        word-break: keep-all;
    }

    .pc-slide {
        display: none;
    }

    .mob-slide {
        display: block;
    }

    .slide-banner-area {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .slide-icon {
        position: static;
        gap: 26px;
        justify-content: space-between;
    }

    .collection-series {
        column-gap: 0;
    }

    .collection-series-list {
        width: 95%;
        margin: 0 auto;
    }

    #rivalry {
        margin-bottom: 180px;
    }

    .rivalry-logo {
        width: 260px;
    }

    #best-review {
        padding: 0 16px
    }

    .review-slide {
        width: fit-content;
        transform: translateX(calc(((-100% + 10px * 7) / 8 - 10px) * 0));
        gap: 10px;
    }

    .review-item {
        font-size: 14px;
    }
    
    .review-title {
        font-size: 16px;
    }
    
    .review-sub {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .subject-subtitle {
        line-height: 1.6;
        word-break: keep-all;
    }

    #adidas-story {
        padding: 180px 16px 0;
        margin-bottom: 180px;
    }

    .story-contents {
        gap: 0;
    }

    .story-slide-list {
        padding: 0;
        gap: 40px;
    }

    .story-text {
        gap: 10px;
        margin-bottom: 50px;
    }

    .story-main {
        font-size: 16px;
        -webkit-line-clamp: 3;
        flex-shrink: 0;
    }

    .slide-page-info {
        width: 100%;
        justify-content: space-between;
        padding: 0;
           
    }

    .footer-menu {
        padding: 24px 16px;
    }

    .footer-menu-wrap {
        column-gap: 20%;
    }
    
    .footer-menu-list {
        width: 40%;
    }

    .footer-menu-list > input[type=checkbox]+label span {
        font-size: 14px;
    }

    .footer-submenu-list > a {
        font-size: 14px;
    }

    .policy {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 14px;
        margin-bottom: 20px;
    }




    .slide-banner-list {
        width: calc(100vw - 32px);
    }
}
